---
const images = [
  "talleres-1",
  "talleres-2",
  "talleres-3",
  "talleres-4",
  "talleres-5",
];
---

<div class="card bg-red-450 text-neutral-50 overflow-hidden flex flex-col">
  <h2>Talleres</h2>
  <p class="mb-4">
    Estos talleres están diseñados para que te pongas manos a la obra y
    adquieras, de la mano de expertos en el sector, nuevas técnicas,
    herramientas y enfoques que podrás aplicar en tus propios proyectos. Si
    quieres llevar tu creatividad y tus habilidades al siguiente nivel, este
    evento es para ti.
  </p>
  <div class="swiper talleresSwiper h-full cursor-move">
    <div class="swiper-wrapper flex h-full">
      {
        images.map((image) => (
          <img
            src={`/images/${image}.webp`}
            alt="Talleres"
            width="256"
            height="256"
            class="swiper-slide object-cover rounded-lg"
          />
        ))
      }
    </div>
  </div>
</div>
