---
import Button from "../components/Button.astro";
import Logo from "../components/Logo.astro";
import Change from "../components/stickers/Change.astro";
import Experience from "../components/stickers/Experience.astro";
import TonsOfUx from "../components/stickers/TonsOfUx.astro";
---

<section
  class="relative bg-hero bg-center bg-cover min-h-dvh overflow-hidden flex flex-col items-center justify-center text-white px-5 py-20"
>
  <div class="relative max-w-screen-sm lg:max-w-screen-md">
    <div
      class="flex flex-col items-center text-center z-10 opacity-0 translate-y-10 animate-fadeInUp"
    >
      <Logo class="mb-4" />
      <h1 class="text-6xl md:text-8xl lg:text-9xl font-black mb-10">
        UX/UI Fest
      </h1>
      <p class="mb-4">
        Tres increíbles talleres diseñados para sumergirte en el mundo del
        diseño de experiencia de usuario e interfaces. Desde herramientas
        innovadoras hasta técnicas de diseño que marcarán tendencia, cada taller
        está pensado para que salgas con nuevas habilidades y mucha inspiración.
      </p>
      <p>
        ¿Preparado para transformar tu visión del diseño de experiencia e
        interfaz de usuario?
      </p>
    </div>
    <Change
      class="change-sticker absolute bottom-[110%] lg:bottom-full left-1/2 md:left-3/4 lg:left-full"
    />
    <Experience
      class="exp-sticker absolute top-[115%] md:top-[130%] lg:top-1/2 right-2/3 lg:right-[115%]"
    />
    <TonsOfUx
      class="tou-sticker absolute top-[110%] md:top-[120%] lg:top-full left-2/3 lg:left-full"
    />
  </div>
  <Button
    text="Incríbete"
    href="#inscribirse"
    class="fixed top-5 left-5 md:left-1/2 md:-translate-x-1/2 z-50"
  />
</section>

<style>
  h1 {
    text-shadow:
      0 0 0 #5d4a86,
      0 0 0 #1994a2;
    animation: ts 0.5s ease-in-out 0.25s forwards;
  }

  @keyframes ts {
    50% {
      text-shadow:
        5px 5px 0 #5d4a86,
        5px 5px 0 #1994a2;
    }
    100% {
      text-shadow:
        5px 5px 0 #5d4a86,
        8px 8px 0 #1994a2;
    }
  }

  :global(.change-sticker) {
    transform: translate(-30vw, 110dvh);
    animation: change 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }

  @keyframes change {
    to {
      transform: translate(0, 0) rotate(8deg);
    }
  }

  :global(.exp-sticker) {
    transform: translate(34vw, 55dvh);
    animation: exp 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.1s forwards;
  }

  @keyframes exp {
    to {
      transform: translate(0, 0) rotate(-13deg);
    }
  }

  :global(.tou-sticker) {
    transform: translate(-30vw, 34dvh);
    animation: tou 0.55s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.1s forwards;
  }

  @keyframes tou {
    to {
      transform: translate(0, 0) rotate(5deg);
    }
  }
</style>
