---
import Form from "../components/Form.astro";
---

<section
  id="inscribete"
  class="container py-20 grid gap-10 lg:grid-cols-2 lg:items-center"
>
  <div>
    <img
      src="https://principal.immune.institute/wp-content/uploads/2024/08/2024.06.20-Immune-Institute3_websize.webp"
      alt="Talleres"
      width="610"
      height="610"
      class="aspect-square object-cover max-w-full mb-10"
    />
    <h2 class="mb-4 text-4xl font-bold">Talleres</h2>
    <p class="mb-4">
      Estos talleres están diseñados para que te pongas manos a la obra y
      adquieras, de la mano de expertos en el sector, nuevas técnicas,
      herramientas y enfoques que podrás aplicar en tus propios proyectos. Si
      quieres llevar tu creatividad y tus habilidades al siguiente nivel, este
      evento es para ti.
    </p>
  </div>
  <Form />
</section>

<style>
  img {
    clip-path: polygon(
      37.775% 89.393%,
      37.774% 89.394%,
      31.457% 83.076%,
      31.457% 83.076%,
      31.465% 83.192%,
      31.472% 83.309%,
      31.479% 83.426%,
      31.484% 83.543%,
      31.489% 83.66%,
      31.493% 83.778%,
      31.496% 83.895%,
      31.498% 84.013%,
      31.5% 84.132%,
      31.5% 84.25%,
      31.5% 84.25%,
      31.294% 86.805%,
      30.697% 89.228%,
      29.742% 91.488%,
      28.461% 93.552%,
      26.887% 95.387%,
      25.052% 96.961%,
      22.988% 98.242%,
      20.728% 99.197%,
      18.305% 99.794%,
      15.75% 100%,
      15.75% 100%,
      13.195% 99.794%,
      10.772% 99.197%,
      8.512% 98.242%,
      6.448% 96.961%,
      4.613% 95.387%,
      3.039% 93.552%,
      1.758% 91.488%,
      0.803% 89.228%,
      0.206% 86.805%,
      0% 84.25%,
      0% 84.25%,
      0.206% 81.695%,
      0.803% 79.272%,
      1.758% 77.012%,
      3.039% 74.948%,
      4.613% 73.113%,
      6.448% 71.539%,
      8.512% 70.258%,
      10.772% 69.303%,
      13.195% 68.706%,
      15.75% 68.5%,
      15.75% 68.5%,
      15.868% 68.5%,
      15.987% 68.502%,
      16.105% 68.504%,
      16.222% 68.507%,
      16.34% 68.511%,
      16.457% 68.516%,
      16.574% 68.521%,
      16.691% 68.528%,
      16.808% 68.535%,
      16.924% 68.543%,
      10.431% 62.051%,
      10.433% 62.049%,
      10.433% 62.049%,
      8.572% 60.002%,
      6.87% 57.819%,
      5.333% 55.507%,
      3.972% 53.077%,
      2.796% 50.536%,
      1.814% 47.894%,
      1.034% 45.161%,
      0.465% 42.345%,
      0.118% 39.455%,
      0% 36.5%,
      0% 36.5%,
      0.478% 30.58%,
      1.861% 24.963%,
      4.074% 19.726%,
      7.042% 14.944%,
      10.691% 10.691%,
      14.944% 7.042%,
      19.726% 4.074%,
      24.963% 1.861%,
      30.58% 0.478%,
      36.5% 0%,
      36.5% 0%,
      39.455% 0.118%,
      42.345% 0.465%,
      45.161% 1.034%,
      47.894% 1.814%,
      50.536% 2.796%,
      53.077% 3.972%,
      55.507% 5.333%,
      57.819% 6.87%,
      60.002% 8.572%,
      62.049% 10.433%,
      62.05% 10.432%,
      62.246% 10.627%,
      62.246% 10.627%,
      62.258% 10.639%,
      62.271% 10.652%,
      62.284% 10.665%,
      62.297% 10.678%,
      62.31% 10.691%,
      62.322% 10.703%,
      62.335% 10.716%,
      62.348% 10.729%,
      62.361% 10.742%,
      62.374% 10.755%,
      68.543% 16.925%,
      68.543% 16.925%,
      68.535% 16.808%,
      68.528% 16.691%,
      68.521% 16.574%,
      68.516% 16.457%,
      68.511% 16.34%,
      68.507% 16.222%,
      68.504% 16.105%,
      68.502% 15.987%,
      68.5% 15.868%,
      68.5% 15.75%,
      68.5% 15.75%,
      68.706% 13.195%,
      69.303% 10.772%,
      70.258% 8.512%,
      71.539% 6.448%,
      73.113% 4.613%,
      74.948% 3.039%,
      77.012% 1.758%,
      79.272% 0.803%,
      81.695% 0.206%,
      84.25% 0%,
      84.25% 0%,
      86.805% 0.206%,
      89.228% 0.803%,
      91.488% 1.758%,
      93.552% 3.039%,
      95.387% 4.613%,
      96.961% 6.448%,
      98.242% 8.512%,
      99.197% 10.772%,
      99.794% 13.195%,
      100% 15.75%,
      100% 15.75%,
      99.794% 18.305%,
      99.197% 20.728%,
      98.242% 22.988%,
      96.961% 25.052%,
      95.387% 26.887%,
      93.552% 28.461%,
      91.488% 29.742%,
      89.228% 30.697%,
      86.805% 31.294%,
      84.25% 31.5%,
      84.25% 31.5%,
      84.132% 31.5%,
      84.013% 31.498%,
      83.895% 31.496%,
      83.778% 31.493%,
      83.66% 31.489%,
      83.543% 31.484%,
      83.426% 31.479%,
      83.309% 31.472%,
      83.192% 31.465%,
      83.076% 31.457%,
      89.246% 37.627%,
      89.246% 37.627%,
      89.259% 37.64%,
      89.271% 37.653%,
      89.284% 37.665%,
      89.297% 37.678%,
      89.309% 37.691%,
      89.322% 37.703%,
      89.335% 37.716%,
      89.347% 37.729%,
      89.36% 37.741%,
      89.373% 37.754%,
      89.393% 37.775%,
      89.393% 37.775%,
      91.283% 39.827%,
      93.014% 42.02%,
      94.575% 44.344%,
      95.959% 46.79%,
      97.155% 49.348%,
      98.154% 52.009%,
      98.948% 54.764%,
      99.526% 57.604%,
      99.88% 60.519%,
      100% 63.5%,
      100% 63.5%,
      99.522% 69.421%,
      98.139% 75.037%,
      95.926% 80.274%,
      92.958% 85.056%,
      89.309% 89.309%,
      85.056% 92.958%,
      80.274% 95.926%,
      75.037% 98.139%,
      69.421% 99.522%,
      63.5% 100%,
      63.5% 100%,
      60.519% 99.88%,
      57.604% 99.526%,
      54.764% 98.948%,
      52.009% 98.154%,
      49.348% 97.155%,
      46.79% 95.959%,
      44.344% 94.575%,
      42.02% 93.014%,
      39.827% 91.283%,
      37.775% 89.393%
    );
  }
</style>
